@model Fiver.Mvc.FileUpload.Models.Home.FilesViewModel
<p>List of Files</p>
<p>download:</p>
<ul>
    @foreach (var item in Model.Files)
    {
        <li>
            <a asp-action="Download"
               asp-route-filename="@item.Name">
                @item.Name
            </a>
        </li>
    }
</ul>
<p>view in new tab:</p>
<ul>
    @foreach (var item in Model.Files)
    {
        <li>
            <a href="~/@item.Name" target="_blank">
                @item.Name
            </a>
        </li>
    }
</ul>
<p>
    <a href="~/"> Goto file upload</a>
</p>

<p>view in place:</p>
<ul>
    @foreach (var item in Model.Images)
    {
    <li>
        <img src="~/@item.Name" alt="@item.Name"
             asp-append-version="true" />
    </li>
    }
</ul>
<p>
    <a href="~/"> Goto file upload</a>
</p>